## Functions used for atn_resilience analysis.

In [1]:
#imports for the notebook
import os
dir_path = os.getcwd()
script_dir = dir_path + '/atnresilience'
os.chdir(script_dir)
import atn_analysis
import atn_tools as oc
import pandas as pd

In [2]:
#Create the paths for the database and raw files
#dir_path is the path to the main directory

db_path = '%s/data/processed/atn_db.sqlite' %(dir_path,)
raw_path = '%s/data/raw/'%(dir_path,)
processed_direc = '%s/data/processed/'%(dir_path,)
graph_direc = '%s/data/graph/'%(dir_path,)
print(db_path)
print(processed_direc)

/Users/allen/Documents/atnresilience/data/processed/atn_db.sqlite
/Users/allen/Documents/atnresilience/data/processed/

In [3]:
start_year = 2015
end_year = 2017
airline_list = ['ALL','AA','DL','UA','WN']
include_data = 'ADM'
year_list = list(range(start_year, end_year+1))

## Calculate Mahalanobis Data
Run the DB query that will also calculate the Mahalanobis Distance for that data set. Data for the years queried must be imported to the database beforehand. The M-D data will be saved in the /processed folder.

For the include_data parameter, the following options are possible:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CC: Cancellations only<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADD: Arrival delays including diversions<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADM: Purely arrival delays excluding cancellations or diversions<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DCC: Combined delay. If arrival delay is greater than a set threshold, the flight is considered cancelled<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DD: Departure delays. Does not include cancelled or diverted flights<br>

In [5]:
#Specify year ranges to analyze
MD_min_year = 2015
MD_max_year = 2017

#Specify the data dropping method
md_include_data = 'ADM'

#Specify a list of airlines to analyze. To do all airlines, put ''
md_airlines = ['ALL','AA','DL','UA','WN']

In [5]:
#Run the MD query and analysis
# MD_year_range =  list(range(MD_min_year, MD_max_year+1))

for airline in airline_list:
    for year in year_list:
        MD = atn_analysis.MahalanobisDistance(year, airline)
        MD.mahalanobis_distance()
    print('Finished M-Distance calculation for %s.'%(airline,))

2015 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/ALL_2015_MDdata_ADM.csv
2016 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/ALL_2016_MDdata_ADM.csv
2017 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/ALL_2017_MDdata_ADM.csv
Finished M-Distance calculation for ALL.
2015 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/AA_2015_MDdata_ADM.csv
2016 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/AA_2016_MDdata_ADM.csv
2017 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/AA_2017_MDdata_ADM.csv
Finished M-Distance calculation for AA.
2015 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/DL_2015_MDdata_ADM.csv
2016 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/DL_2016_MDdata_ADM.csv
2017 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/DL_2017_MDdata_ADM.csv
Finished M-Distance calculation for DL.
2015 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/UA_2015_MDdata_ADM.csv
2016 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/UA_2016_MDdata_ADM.csv
2017 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/UA_2017_MDdata_ADM.csv
Finished M-Distance calculation for UA.
2015 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/WN_2015_MDdata_ADM.csv
2016 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/WN_2016_MDdata_ADM.csv
2017 M-D Data created at /Users/allen/Documents/atnresilience/data/processed/WN_2017_MDdata_ADM.csv
Finished M-Distance calculation for WN.

## Create Z-Score Data
Run the DB query that will also calculate the Z-score for that data set. Data for the years queried must be imported to the database beforehand. The z-score data will be saved in the /processed folder.

For the include_data parameter, the following options are possible:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CC: Cancellations only<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADD: Arrival delays including diversions<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADM: Purely arrival delays excluding cancellations or diversions<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DCC: Combined delay. If arrival delay is greater than a set threshold, the flight is considered cancelled<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DD: Departure delays. Does not include cancelled or diverted flights<br>

In [3]:
#Specify year ranges to analyze
z_min_year = 2015
z_max_year = 2015

#Specify the data dropping method
z_include_data = 'ADM'

#Specify list of airlines to analyze. To do all airlines, put ''
z_airlines = ['AA']

In [4]:
#Run the Z-score query and analysis
z_year_range =  list(range(z_min_year, z_max_year+1))

for airline in z_airlines:
    for i in z_year_range:
        atn_analysis.z_score(db_path, i, airline, z_include_data, processed_direc)
    print('Finished z-score Calculation for %s for all specified years' %(airline,))

Airport data imported from Query
Calculating metrics
['ABQ' 'ATL' 'AUS' 'BNA' 'BWI' 'CLT' 'DCA' 'DEN' 'DFW' 'DTW' 'ELP' 'FLL'
 'HNL' 'IAD' 'IAH' 'IND' 'JAX' 'LAS' 'LAX' 'LIH' 'MCI' 'MCO' 'MIA' 'MSP'
 'MSY' 'OGG' 'OMA' 'ONT' 'ORD' 'PBI' 'PDX' 'PHL' 'PHX' 'PSP' 'RDU' 'RNO'
 'RSW' 'SAN' 'SAT' 'SEA' 'SFO' 'SJC' 'SJU' 'SLC' 'SNA' 'STL' 'TPA' 'TUL'
 'TUS']
Finished z-score Calculation for AA for all specified years

## Create raw daily delay data for each specified airline

In [3]:
#Specify year ranges to analyze
delay_min_year = 2015
delay_max_year = 2017

#Specify the data dropping method
delay_include_data = 'ADM'

#Specify a list of airlines to analyze. To do all airlines, put ''
delay_airlines = ['ALL','AA','DL','UA','WN']

In [9]:
delay_year_range =  list(range(delay_min_year, delay_max_year+1))
queries = atn_analysis.AnalysisQueries()
for airline in delay_airlines:
    for year in delay_year_range:
        init_df = queries.airline_query(year, airline, delay_include_data)
        init_df.rename(columns={'Day':'Day_of_Year'},inplace=True)
        daily_mean = init_df.groupby('Day_of_Year',as_index=False)['Pos_Arr_Delay'].mean()
        file_name = '%s%s_%s_daily_delay.csv' %(processed_direc,airline,year)
        daily_mean.to_csv(file_name, index=False)

6-01-01            1                      TPA       7.789474
...           ...          ...                      ...            ...
10950  2016-12-31          366                      ATL       0.000000
10951  2016-12-31          366                      AUS       2.000000
10952  2016-12-31          366                      BOS       3.625000
10953  2016-12-31          366                      CLE       3.200000
10954  2016-12-31          366                      DEN       4.563910
10955  2016-12-31          366                      DFW       0.000000
10956  2016-12-31          366                      DTW       0.000000
10957  2016-12-31          366                      HNL      46.555556
10958  2016-12-31          366                      IAH       5.362319
10959  2016-12-31          366                      KOA       6.333333
10960  2016-12-31          366                      LAS       4.777778
10961  2016-12-31          366                      LAX       5.378788
10962  2016-12-31          366                      LIH       0.500000
10963  2016-12-31          366                      MSP       0.000000
10964  2016-12-31          366                      MSY       5.000000
10965  2016-12-31          366                      OGG       4.222222
10966  2016-12-31          366                      OMA      10.500000
10967  2016-12-31          366                      ORD       3.513761
10968  2016-12-31          366                      PDX       1.307692
10969  2016-12-31          366                      PHX       7.200000
10970  2016-12-31          366                      PIT       1.333333
10971  2016-12-31          366                      RSW       1.600000
10972  2016-12-31          366                      SAN       0.894737
10973  2016-12-31          366                      SAT       0.000000
10974  2016-12-31          366                      SEA       9.095238
10975  2016-12-31          366                      SFO       3.487395
10976  2016-12-31          366                      SJU       0.000000
10977  2016-12-31          366                      SMF       9.000000
10978  2016-12-31          366                      SNA       5.090909
10979  2016-12-31          366                      TPA       0.235294

[10980 rows x 4 columns]
      Flight_Date  Day_of_Year Destination_Airport_Code  Pos_Arr_Delay
0      2017-01-01            1                      ABQ       0.000000
1      2017-01-01            1                      ANC      19.000000
2      2017-01-01            1                      ATL      13.125000
3      2017-01-01            1                      AUS       4.333333
4      2017-01-01            1                      BIL       4.000000
5      2017-01-01            1                      BNA      20.500000
6      2017-01-01            1                      BOS       2.500000
7      2017-01-01            1                      BWI       3.000000
8      2017-01-01            1                      CLE      23.750000
9      2017-01-01            1                      CLT       1.000000
10     2017-01-01            1                      DCA      22.750000
11     2017-01-01            1                      DEN       9.160494
12     2017-01-01            1                      DFW       1.454545
13     2017-01-01            1                      DTW       0.000000
14     2017-01-01            1                      EWR       7.035971
15     2017-01-01            1                      GEG       0.000000
16     2017-01-01            1                      HNL      16.611111
17     2017-01-01            1                      IAD      10.515152
18     2017-01-01            1                      IND       0.000000
19     2017-01-01            1                      KOA       8.200000
20     2017-01-01            1                      LAS       7.227273
21     2017-01-01            1                      LAX      12.215190
22     2017-01-01            1                      LGA      24.176471
23     2017-01-01            1                      LIH      20.250000
24     2017-01-01            1                      MCI       0.000000
25     2017-01-01            1                      MSP       4.000000
26     2017-01-01            1                      MSY      17.571429
27     2017-01-01            1                      OGG       6.000000
28     2017-01-01            1                      ONT       0.000000
29     2017-01-01            1                      ORD      13.525974
...           ...          ...                      ...            ...
15665  2017-12-31          365                      DTW      12.833333
15666  2017-12-31          365                      EWR      16.692982
15667  2017-12-31          365                      GEG       0.000000
15668  2017-12-31          365                      HNL       8.105263
15669  2017-12-31          365                      IAD       4.220000
15670  2017-12-31          365                      IND      20.000000
15671  2017-12-31          365                      KOA       0.000000
15672  2017-12-31          365                      LAS       5.818182
15673  2017-12-31          365                      LAX      12.691176
15674  2017-12-31          365                      LGA       0.000000
15675  2017-12-31          365                      LIH       9.400000
15676  2017-12-31          365                      MCI       2.000000
15677  2017-12-31          365                      MSP       1.000000
15678  2017-12-31          365                      MSY       0.000000
15679  2017-12-31          365                      OGG       7.200000
15680  2017-12-31          365                      ONT       3.000000
15681  2017-12-31          365                      ORD       6.492537
15682  2017-12-31          365                      PDX       5.529412
15683  2017-12-31          365                      PHL       5.300000
15684  2017-12-31          365                      PHX       7.055556
15685  2017-12-31          365                      PIT      42.000000
15686  2017-12-31          365                      RDU       0.000000
15687  2017-12-31          365                      RNO       0.000000
15688  2017-12-31          365                      SAN       5.952381
15689  2017-12-31          365                      SAT      13.111111
15690  2017-12-31          365                      SEA      16.720000
15691  2017-12-31          365                      SFO      12.683453
15692  2017-12-31          365                      SJC      31.500000
15693  2017-12-31          365                      SMF      18.428571
15694  2017-12-31          365                      SNA       3.416667

[15695 rows x 4 columns]
      Flight_Date  Day_of_Year Destination_Airport_Code  Pos_Arr_Delay
0      2015-01-01            1                      ATL       7.962963
1      2015-01-01            1                      AUS      12.878049
2      2015-01-01            1                      BHM      10.454545
3      2015-01-01            1                      BOI      24.625000
4      2015-01-01            1                      BUF      10.928571
5      2015-01-01            1                      BUR       9.333333
6      2015-01-01            1                      BWI       4.938356
7      2015-01-01            1                      CAK       2.500000
8      2015-01-01            1                      CHS       4.666667
9      2015-01-01            1                      CLE      12.571429
10     2015-01-01            1                      CLT       5.800000
11     2015-01-01            1                      CMH       4.000000
12     2015-01-01            1                      CRP      24.333333
13     2015-01-01            1                      DAL      12.051724
14     2015-01-01            1                      DAY      26.250000
15     2015-01-01            1                      DCA       4.685714
16     2015-01-01            1                      DEN      20.312000
17     2015-01-01            1                      DTW      10.133333
18     2015-01-01            1                      ECP       0.000000
19     2015-01-01            1                      ELP      14.500000
20     2015-01-01            1                      FLL       3.680851
21     2015-01-01            1                      FNT      12.250000
22     2015-01-01            1                      GEG      18.000000
23     2015-01-01            1                      GRR      10.250000
24     2015-01-01            1                      GSP       0.750000
25     2015-01-01            1                      HOU      13.089286
26     2015-01-01            1                      HRL      10.800000
27     2015-01-01            1                      IAD      11.666667
28     2015-01-01            1                      ICT      12.000000
29     2015-01-01            1                      IND       8.280000
...           ...          ...                      ...            ...
25520  2015-12-31          365                      OAK      10.220588
25521  2015-12-31          365                      OKC       7.928571
25522  2015-12-31          365                      OMA      11.727273
25523  2015-12-31          365                      ONT       8.300000
25524  2015-12-31          365                      ORF      14.400000
25525  2015-12-31          365                      PBI       5.125000
25526  2015-12-31          365                      PDX       5.107143
25527  2015-12-31          365                      PHL      13.850000
25528  2015-12-31          365                      PHX      12.286822
25529  2015-12-31          365                      PIT       2.684211
25530  2015-12-31          365                      PNS      20.000000
25531  2015-12-31          365                      RDU      10.409091
25532  2015-12-31          365                      RIC       5.333333
25533  2015-12-31          365                      RNO      10.833333
25534  2015-12-31          365                      ROC       5.750000
25535  2015-12-31          365                      RSW      17.722222
25536  2015-12-31          365                      SAN       9.112676
25537  2015-12-31          365                      SAT       8.187500
25538  2015-12-31          365                      SDF       5.875000
25539  2015-12-31          365                      SEA       8.032258
25540  2015-12-31          365                      SFO       9.161290
25541  2015-12-31          365                      SJC      16.159091
25542  2015-12-31          365                      SJU      15.833333
25543  2015-12-31          365                      SLC      11.428571
25544  2015-12-31          365                      SMF       9.525000
25545  2015-12-31          365                      SNA       9.769231
25546  2015-12-31          365                      STL       3.967742
25547  2015-12-31          365                      TPA       5.013889
25548  2015-12-31          365                      TUL       7.545455
25549  2015-12-31          365                      TUS      12.000000

[25550 rows x 4 columns]
      Flight_Date  Day_of_Year Destination_Airport_Code  Pos_Arr_Delay
0      2016-01-01            1                      ABQ       4.892857
1      2016-01-01            1                      ALB      19.900000
2      2016-01-01            1                      AMA      11.000000
3      2016-01-01            1                      ATL       2.390000
4      2016-01-01            1                      AUS       6.541667
5      2016-01-01            1                      BDL       3.875000
6      2016-01-01            1                      BHM       0.800000
7      2016-01-01            1                      BNA       8.630769
8      2016-01-01            1                      BOI       0.875000
9      2016-01-01            1                      BOS       4.769231
10     2016-01-01            1                      BUF       7.500000
11     2016-01-01            1                      BUR       4.607143
12     2016-01-01            1                      CAK       0.571429
13     2016-01-01            1                      CLE       0.000000
14     2016-01-01            1                      CMH       8.000000
15     2016-01-01            1                      CRP      18.000000
16     2016-01-01            1                      DAL      10.360902
17     2016-01-01            1                      DAY       1.000000
18     2016-01-01            1                      DEN       6.712121
19     2016-01-01            1                      DSM       0.000000
20     2016-01-01            1                      DTW      10.687500
21     2016-01-01            1                      ECP       0.000000
22     2016-01-01            1                      ELP       4.117647
23     2016-01-01            1                      GEG       0.625000
24     2016-01-01            1                      HOU       5.100000
25     2016-01-01            1                      HRL      23.000000
26     2016-01-01            1                      ICT       0.000000
27     2016-01-01            1                      IND       6.448276
28     2016-01-01            1                      LAS       6.327684
29     2016-01-01            1                      LAX       9.447059
...           ...          ...                      ...            ...
24492  2016-12-31          366                      MKE       1.761905
24493  2016-12-31          366                      MSP      14.846154
24494  2016-12-31          366                      MSY       3.893617
24495  2016-12-31          366                      OAK       7.628571
24496  2016-12-31          366                      OKC       7.166667
24497  2016-12-31          366                      OMA       2.230769
24498  2016-12-31          366                      ONT       7.954545
24499  2016-12-31          366                      ORF       3.714286
24500  2016-12-31          366                      PDX      10.964286
24501  2016-12-31          366                      PHX       8.190476
24502  2016-12-31          366                      PIT       2.320000
24503  2016-12-31          366                      PNS       0.000000
24504  2016-12-31          366                      PVD       3.250000
24505  2016-12-31          366                      RNO       2.466667
24506  2016-12-31          366                      ROC       4.600000
24507  2016-12-31          366                      RSW       0.380952
24508  2016-12-31          366                      SAN       6.462687
24509  2016-12-31          366                      SAT       9.500000
24510  2016-12-31          366                      SDF      25.857143
24511  2016-12-31          366                      SEA       6.400000
24512  2016-12-31          366                      SFO       5.266667
24513  2016-12-31          366                      SJC       2.052632
24514  2016-12-31          366                      SJU      13.461538
24515  2016-12-31          366                      SLC       5.105263
24516  2016-12-31          366                      SMF       4.536585
24517  2016-12-31          366                      SNA       7.588235
24518  2016-12-31          366                      STL       5.956522
24519  2016-12-31          366                      TPA       4.714286
24520  2016-12-31          366                      TUL       2.666667
24521  2016-12-31          366                      TUS       2.200000

[24522 rows x 4 columns]
      Flight_Date  Day_of_Year Destination_Airport_Code  Pos_Arr_Delay
0      2017-01-01            1                      ABQ       8.176471
1      2017-01-01            1                      AMA       3.800000
2      2017-01-01            1                      ATL      13.840336
3      2017-01-01            1                      AUS       9.410714
4      2017-01-01            1                      BNA      13.182927
5      2017-01-01            1                      BOI       8.333333
6      2017-01-01            1                      BUF       3.176471
7      2017-01-01            1                      BUR       8.325000
8      2017-01-01            1                      CLE       3.785714
9      2017-01-01            1                      CLT       2.857143
10     2017-01-01            1                      CMH       6.933333
11     2017-01-01            1                      DAL       6.678571
12     2017-01-01            1                      DEN       9.563536
13     2017-01-01            1                      DTW       1.473684
14     2017-01-01            1                      ELP      16.333333
15     2017-01-01            1                      FNT       0.000000
16     2017-01-01            1                      GEG       0.875000
17     2017-01-01            1                      GRR       0.000000
18     2017-01-01            1                      ICT       6.000000
19     2017-01-01            1                      IND       3.000000
20     2017-01-01            1                      LAS       6.389423
21     2017-01-01            1                      LAX      17.745455
22     2017-01-01            1                      LBB       8.428571
23     2017-01-01            1                      LGB       6.000000
24     2017-01-01            1                      LIT       1.000000
25     2017-01-01            1                      MAF       6.375000
26     2017-01-01            1                      MCI       8.492308
27     2017-01-01            1                      MDW       8.091346
28     2017-01-01            1                      MEM      22.444444
29     2017-01-01            1                      MKE      21.054054
...           ...          ...                      ...            ...
18950  2017-12-31          365                      LBB      40.750000
18951  2017-12-31          365                      LGB      17.571429
18952  2017-12-31          365                      LIT      36.400000
18953  2017-12-31          365                      MAF      27.750000
18954  2017-12-31          365                      MCI      13.377358
18955  2017-12-31          365                      MDW      11.137566
18956  2017-12-31          365                      MEM      17.250000
18957  2017-12-31          365                      MKE       6.100000
18958  2017-12-31          365                      MSP       5.470588
18959  2017-12-31          365                      MSY      19.080000
18960  2017-12-31          365                      OAK      15.728395
18961  2017-12-31          365                      OKC      15.533333
18962  2017-12-31          365                      OMA       4.733333
18963  2017-12-31          365                      ONT      21.692308
18964  2017-12-31          365                      PHX      15.521429
18965  2017-12-31          365                      PIT      12.392857
18966  2017-12-31          365                      RIC       0.666667
18967  2017-12-31          365                      RNO      12.294118
18968  2017-12-31          365                      SAN      13.686747
18969  2017-12-31          365                      SAT      21.000000
18970  2017-12-31          365                      SDF       6.875000
18971  2017-12-31          365                      SEA      15.583333
18972  2017-12-31          365                      SFO       6.485714
18973  2017-12-31          365                      SJC       6.529412
18974  2017-12-31          365                      SLC      10.000000
18975  2017-12-31          365                      SMF      28.918367
18976  2017-12-31          365                      SNA       8.829268
18977  2017-12-31          365                      STL      11.590361
18978  2017-12-31          365                      TUL      18.200000
18979  2017-12-31          365                      TUS      13.000000

[18980 rows x 4 columns]

## Generate metrics on dropped flight data for each specified airline
Saves as a single file ordered by airline and year

In [3]:
dropped_years = [2015,2016,2017]
dropped_airlines = ['','AA','DL','UA','WN']

In [4]:
all_metrics = []
cols = ['Year','Airline','Airport % Dropped','Airport Total','Airport Kept','Flights Total','Flights Dropped','Flights % Dropped']
for airline in dropped_airlines:
    for year in dropped_years:
        all_metrics.append(oc.dropped_metrics(db_path,year,airline,'ADM'))

metrics_df = pd.DataFrame(all_metrics, columns=cols)
dropped_path = processed_direc + 'dropped_metrics.csv'
metrics_df.to_csv(dropped_path)